In [1]:
#!pip install pandas_profiling

In [2]:
import numpy as np 
import pandas as pd
import pandas_profiling

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_8792\58495532.py:3: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling

# Importing Datset 1

In [3]:
df1 = pd.read_csv('104.csv')
df1 = df1.drop(df1.columns[2:14], axis=1)

In [4]:
df1.head()

,Category,Segment,2013-14,2014-15
0,Passenger Vehicles (PVs),Passenger Cars,2519281.0,2590917.0
1,Passenger Vehicles (PVs),Multi-Utility Vehicles,568692.0,629255.0
2,Passenger Vehicles (PVs),Total Passenger Vehicles (PVs),3087973.0,3220172.0
3,Commercial Vehicles - M & HCVs,Passenger Carriers,41175.0,49360.0
4,Commercial Vehicles - M & HCVs,Goods Carriers,180381.0,219193.0

In [5]:
# Drop any rows with missing values of dataset 1
df1 = df1.dropna()

In [6]:
# checking the shape (# of rows and columns) of the datasets
print('DF1 Shape: ', df1.shape)

DF1 Shape:  (18, 4)

In [7]:
# Generate a report using pandas profiling
profile = pandas_profiling.ProfileReport(df1)

# Save the report to an HTML file
profile.to_file('104.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [8]:
df1.to_csv('104_modified.csv', index=False)

In [9]:
df1.head()

,Category,Segment,2013-14,2014-15
0,Passenger Vehicles (PVs),Passenger Cars,2519281.0,2590917.0
1,Passenger Vehicles (PVs),Multi-Utility Vehicles,568692.0,629255.0
2,Passenger Vehicles (PVs),Total Passenger Vehicles (PVs),3087973.0,3220172.0
3,Commercial Vehicles - M & HCVs,Passenger Carriers,41175.0,49360.0
4,Commercial Vehicles - M & HCVs,Goods Carriers,180381.0,219193.0

# Importing Dataset 2

In [10]:
df2 = pd.read_csv('112.csv')

In [11]:
# Droping the column
df2 = df2.drop(columns=['Buses', 'Sl. No', 'Three Wheelers (Category L5 slow speed as per CMVR)','Two Wheelers (Category L2 (CMVR))' , 'Two Wheelers (Max power not exceeding 250 Watts)'])

# Rename the columns 
df2 = df2.rename(columns={'Two Wheelers (Category L1 & L2 as per Central Motor Vehicles Rules': 'Two Wheelers'})
df2 = df2.rename(columns={'Three Wheelers (Category L5 as per CMVR)': 'Three Wheelers'})
df2 = df2.rename(columns={'Passenger Cars (Category M1 as per CMVR)': 'Passenger Cars'})

# Drop any rows with missing values of dataset 2
df2 = df2.dropna()

# Drop any rows with missing values of dataset 2
df2 = df2.dropna()

In [12]:
df2.head()

,State,Two Wheelers,Three Wheelers,Passenger Cars,Total in state
0,Meghalaya,0,0,6,6
1,Nagaland,0,0,1,24
2,Manipur,16,5,12,52
3,Tripura,28,0,8,81
4,Andaman & Nicobar islands,0,0,82,82

In [13]:
# Generate a report using pandas profiling
profile = pandas_profiling.ProfileReport(df2)

# Save the report to an HTML file
profile.to_file('112.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
# checking the shape (# of rows and columns) of the datasets
print('DF2 Shape: ', df2.shape)

DF2 Shape:  (30, 5)

# Importing Dataset 3

In [15]:
df3 = pd.read_csv('102_103_105_107.csv')
df3 = df3.rename(columns={'State Name': 'State'})

In [16]:
df3.head()

,State,No. of EV Chargers Sanctioned,No of RO's where EV Charging Facility available,Total Electric Vehicle,Total Non-Electric Vehicle,Total EV supported by state for adoption and manufacturing
0,Andhra Pradesh,266.0,65.0,NaN,NaN,6393.0
1,Arunachal Pradesh,NaN,4.0,20,"2,52,965",1.0
2,Assam,20.0,19.0,64766,"46,77,053",827.0
3,Bihar,37.0,26.0,83335,"1,04,07,078",5255.0
4,Chandigarh,70.0,4.0,2812,"7,46,881",154.0

In [17]:
merged_df = pd.merge(df2 , df3 , on='State')

In [18]:
merged_df.to_csv('102_103_105_107_112.csv', index=False)

In [19]:
df = pd.read_csv('102_103_105_107_112.csv')

In [20]:
df.head()

,State,Two Wheelers,Three Wheelers,Passenger Cars,Total in state,No. of EV Chargers Sanctioned,No of RO's where EV Charging Facility available,Total Electric Vehicle,Total Non-Electric Vehicle,Total EV supported by state for adoption and manufacturing
0,Meghalaya,0,0,6,6,40.0,3.0,49,"4,59,001",10.0
1,Nagaland,0,0,1,24,NaN,2.0,58,"3,39,129",NaN
2,Manipur,16,5,12,52,NaN,1.0,586,"4,99,324",140.0
3,Tripura,28,0,8,81,NaN,3.0,9262,"6,50,026",750.0
4,Himachal Pradesh,0,0,98,98,10.0,13.0,1175,"19,64,754",446.0